<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" , href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>The lion (Panthera leo) is a large cat of the genus Panthera, native to Africa and India. It has a muscular, broad-chested body; a short, rounded head; round ears; and a dark, hairy tuft at the tip of its tail.</p>
      <img class="portrait" src="img/lion-3576045_1920.jpg" />
    </div>
    {{>footer}}
  </body>
</html>